@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat&family=MuseoModerno:wght@500;600&family=Poppins&display=swap');
body{
    font-family: Poppins, Montserrat;
    padding:0;
    margin:auto
}
a{
    background-color: lightblue;
    color: rgb(71,69, 69);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
#content{

}
a:hover{
    background-color: darkgray;
    color: white;
}
nav{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
h1{
    font-size: 2em;
    text-align: center;
    margin: 40px;
}
img{
    width: 30%;
    display: flex;
    margin: 20px auto;
    border: 3px solid lightblue;
    box-shadow: 30px;
}
p{
    text-align: center;
    width: 80;
    margin: 10px auto;
    padding: 10px;
}
.background{
    background-color: azure;
}
footer p{
    width: 100%;
    text-align: center;
    background-color: lightblue;
    color: rgb(71,69, 69);
}