<style>
  @import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Orbitron:wght@800&family=Poppins&family=Roboto&display=swap');
</style>
#content {
    max-width: 1600px;
    margin: 0 auto;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
header {
    display: flex;
    background-color: black;
    justify-content: flex-end;
    align-items: center;

}
#logo_link{
    padding: 0px 30px;
    justify-self: center;
    align-self: center;
    margin-right: auto;
}
.logo{
    width: 60px;
}
.icon {
    width: 80px;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 0px 30px;
    font-family: poppins;
    font-size: 18px;
}
nav a{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
    font-size: 22px;
}
.home-grid{
    display: block;
    text-align: center;
    border: 10px solid #d9c2a3;
    grid-template-columns: repeat(10, 1fr);
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
    align-items: center;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
.home-title {
    font-family:orbitron; poppins;
    font-size: 2em;
    margin-top: 10px;
}
#hero-msg{
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/2;
    color: aliceblue;
    margin-top: 150px;
    padding-left: 100px;
}
#hero-msg h1{
    text-align: left;
    grid-column: 1/2;
    grid-row: 1/2;
    color: aliceblue;
    padding: 15px;
    writing-mode: vertical-lr;
    display: inline;
    transform: rotate(180deg);
    word-spacing: 2px;
    font-size: 100px;
    margin-left: -1100px;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
.button-box {
    text-align: center;
}
footer {
    padding: 50px;
    margin-top: -20px;
    background-color: black;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    color: #d9c2a3;
}
footer p {
    font-size: 1.2em;
}
.social{
    grid-column: 3/3;
    grid-row: 1/2;
    padding: 20px;
    writing-mode: vertical-rl;
    display:list-item;
    transform: rotate(0deg);
    align-items: center;
    justify-content:space-between;
    justify-items: flex-start;
    margin-right: 20px;
}
.social img{
    margin-top: 50px;
}

/* logos css */
.home-grid{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(10, 1fr);
}
.logos-grid{
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    justify-content:space-around;
}
.third-1,.third-2,.third-3,.third-4 {
    margin: 0px;
}
.third-1 {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
}
.third-2 {
    width: 100%;
    grid-column: 4/5;
    grid-row: 1/2;
}
.third-3 {
    width: 100%;
    grid-column: 6/7;
    grid-row: 1/2;
}
.third-4 {
    width: 100%;
    grid-column: 8/9;
    grid-row: 1/2;
}